
@media only screen and (max-width: 667px) and (min-width: 370px) {

body{

overflow-x: hidden!important;
overflow-y: scroll !important;
}
html{
    overflow-x: hidden;

}
.landing-page-section{
    overflow-x: hidden;
}
p {
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
    line-height: 30px;
    margin-top: 20px;
    z-index: 99;
}


    /*====================== LANDING PAGE =============================*/
    .loader {            
        margin: 60px auto;
        font-size: 10px;
        position: relative;
        top: 200px;
        right: 10px;
        text-indent: -9999em;
        border-top: 1.1em solid rgba(255, 255, 255, 0.2);
        border-right: 1.1em solid rgba(255, 255, 255, 0.2);
        border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
        border-left: 1.1em solid #231e1e;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-animation: load8 1.1s infinite linear;
        animation: load8 1.1s infinite linear;
        z-index: 99999999;
    }

    .typing-container {
        display: inline-flex;
        width: 622px;
        height: 45px;
        /* justify-content: center; */
        /* position: absolute; */
    }

    h1.typing {
        height: 40px;
        /* margin: 37px; */
        font-size: 40px;
        z-index: 10;
        position: absolute;
        bottom: 157px;
    }
    .left-side-list {
        display: flex;
        flex-wrap: wrap;
        height: 30vh;
        /* background: #555; */
        justify-content: space-around;
        align-items: center;
        width: 316px;
        list-style: none;
        list-style-type: none;
        overflow-x: hidden!important;
        overflow-y: hidden!important;
    }


    .left-side-list ul {
    
            display: block;
            position: absolute;
            width: 80vw;
            left: 20px;
            overflow-x: hidden!important;
            overflow-y: hidden!important;
            border-top: solid 0.5px grey;
            justify-content: space-between;
     
    }
    section#profile-sec {
height: 218vw;
    }
      
    header#myTopnav{
    display: block;
    position: relative;
}

.menu-wrap .menu>div {
    background: var(--overlay-color);
    border-radius: 0%;
    width: 200vw;
    height: 100%;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
    background-color: honeydew;
}

.text-location p {
    font-size: 12px;
    margin-bottom: 3px;
}
.menu-wrap {
    position: absolute;
    top: 10px;
    right: 70px;
    z-index: 999;
}
.boxes {
    display: grid;
    width: 45vmin;
    height: 55vmin;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
    transform: translateY(156%) rotateX(43deg) rotate(45deg);
    transform-style: preserve-3d;
    position: relative;
    left: 111px;
}
section.landing-page-section {
overflow-x: clip;
}
.mobile-menu{
    position: absolute;
    right: 401px;
    top: 258px;
    margin: 0 auto;
}
.mobile-menu ul {
    justify-content: center;
    position: relative;
    left: 50%;

}
.box-2-1 h3 {
    font-size: 24px;
    padding-top: 15px;
}
/*===========Profile=========*/
/* .page-number {
    position: absolute;
    top: 700px;
    border-top: solid 0.5px;
    padding-top: 15px;
}
img.thumbnail.simple-parallax-initialized {
    width: 230px;
    height: 290px;
    float: right;
    position: relative;
    border-radius: 1%;
    bottom: 1068px;
} */
.layout{
    
        display: flex;
        flex-direction: column;
    
}
.page-number {
    /* position: absolute; */
     top: 425px; 
    border-top: solid 0.5px;
    padding-top: 15px;
    
}
.blob {
    position: absolute;
    width: 300px;
    height: 300px;
    bottom: 0px;
    /* left: 90px; */
    left: -8px;
    top: 12px;
}
#content-h1 {
    font-size: 45px;
    font-weight: 600;
    color: #323131;
    position: absolute;
}

#content-h1 {
    font-size: 45px;
    font-weight: 600;
    color: #323131;
    position: absolute;
    bottom: 30px;
}
img.thumbnail.simple-parallax-initialized {

        will-change: transform;
        transform: translate3d(0px, 350px, 0px);
        transition: transform 0.6s cubic-bezier(0, 0, 0, 1) 0s;
        position: absolute;
        width: 166px;
        height: 198px;
        right: 14px;
        top: 150px;
    
}
.container-logo {
    overflow: hidden;
    height: 120vh;
    width: 100%;
    position: absolute;
    top: 28px;
    
}
.box-2-2 {
    display: flex;
    height: 200px;
    width: 100%;
    background: transparent;
    flex-direction: column;
    padding: 20px;
    position: relative;
    top: 210px;
    max-width: 700px;

}
.button-style {
    width: 180px;
    display: flex;
    overflow: hidden;
    margin-top: 0;
    padding: 12px 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 150ms linear;
    text-align: center;
    white-space: nowrap;
    text-decoration: none !important;
    text-transform: none;
    text-transform: capitalize;
    color: #f5f5f5;
    border: 0 none;
    border-radius: 36px;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.3;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    justify-content: center;
    align-items: center;
    flex: 0 0 40px;
    box-shadow: 2px 5px 10px tomato;
    background-color: #FF6600;
    position: relative;
    top: 140px;
}
/* p.animation-p.simple-parallax-initialized {
    z-index: -9;
} */
.scene {
    width: 0px;
    height: 284px;
    position: absolute;
    top: 45%;
    left: 20%;
    transform: translate(-50%, -50%);
}


/*===============================================================================*/



section#project-section {
  
        height: 361vw;
    
}
.pie {
    height: 200px;
    width: 200px;
    position: relative;
    margin: 0 0px 30px 0;
}
.legend {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: #FFF;
    padding: 10px;
    font-size: 13px;
    box-shadow: 1px 1px 0 #DDD,
                2px 2px 0 #BBB;
    position: relative;
    top: 50px;
 
        border-radius: 6%;
    
}

.main-pie {
    width: 400px;
    margin: 30px auto;
    height: 300px;
    display: flex;
    flex-direction: column;
}
#content-h1-2 {
    font-size: 45px;
    font-weight: 600;
    color: #323131;
    position: absolute;
    bottom: 30px;
    display: contents;
}
div#col\ col-complementary2 {
    height: 600px!important;
    overflow-x: visible!important;
}
    #project-pagenumber {
        position: absolute;
        top: 920px;
        border-top: solid 0.5px;
        padding-top: 15px;
        text-align: left;
        margin-top: 94px;
    }
    .web-builder-container {
        display: flex;
        position: absolute;
        right: 2%;
        bottom: px;
        z-index: 999;
        /* top: 2954px; */
        justify-content: space-between;
        width: 130px;
        flex-direction: row;
        height: 244px;
        top: 121px;
        width: 297px;
    
        
    
}
.logo-software {
    width: 50px;
    height: 25px;
}
.right-side-img img.active {
    display: block;
    height: 180px;
    margin: 12px;
    margin-bottom: 45px;
}
.col-complementary p {
    z-index: 100;
    position: relative;
    /* margin-top: 20px; */
    font-size: 14px!important;
    padding-right: 5px;
}
.box-web {
    width: 96px;
    height: 78px;
    display: inline-flex;
    border-radius: 6px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all ease-in-out 300ms;
    margin-right: 10px;
}
.software-logo-box {
    position: absolute;
    justify-content: center;
    display: block;
    width: 100%;
    height: 100%;
    top: 30%;
    right: 22%;
}
/*======================================================================*/
.list-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    height: 470px;
    border-radius: 2%;
    background-color: white;
    padding: 35px;
    position: absolute;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
}

ul#test {
    padding-right: 60px;
    padding-left: 20px;
    width: 48vh;
    text-align: center;
    position: relative;
    right: 26px;

}

.blog-section {
    display: flex;
    flex-direction: column;
    position: relative;
    float: left;
    right: 35%;
}
.section-blog {
    background-color: #ffffff47;
    height: 212vh;
    width: 100%;
    display: flex;
}
.blog-section img {
    width: 340px;
    height: auto;
}
.blog-section h1 {
    position: relative;
    font-size: 65px;
    display: flex;
}
.list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 13px;
    width: 129px;
    text-decoration: blink;
    text-align: right;
}
.button-contact h1{
 
        font-size: 6rem!important;
        object-position: center;
        position: relative;
        /* left: 93px; */
    

}
.button-contact h2{
  
        font-weight: 300;
        font-size: 23px!important;
        text-align: center;
    }
    .button-contact h3{
        font-weight: 300;
        position: relative;
        /* right: -58px; */
}
button#contact-submit {
    display: block;

}
#text-button-contact{
    
        font-size: 6rem!important;
        object-position: center;
        position: relative;
        left: 0px!important;
    
}

.blog-section img {
    width: 334px;
    height: auto;
    margin: -30px;
}
/* .contact-animation:after {
    content: "";
    background: green;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -600px !important;
    margin-top: -120%;
    /* opacity: 0; */
    /* transition: all 3.8s; */
    /* padding: 1100px; */
   /* height: 100px; */

span.blog-title.simple-parallax-initialized {
    position: relative;
    /* left: -300px; */
    /* bottom: 60px; */
    z-index: 1000;
}

/*=============================================================================*/


    

#contact-submit {
    border: none;
    width: 353px;
    border-radius: 206px;
    height: 136px;
}
h1#text-button-contact {
    margin: 34px!important;
    font-size: 30px!important;
    border-style: none;
    /* width: 259px!important; */
}
}